<script type="text/javascript">
	$(document).ready(function(){

		$('.answer_status').click(function(){
			var $this = $(this);
			$.ajax({
          type: 'patch',
          url: '/projects/'+ $('#project_id').val() +'/answers/' + $this.attr('data-id'),
          dataType: 'json',
          data: {
          	status: $this.val()
          }
        }); // end of ajax
		});

	});
</script>
<%= hidden_field_tag :project_id, @project.id %>
<table class="table table-bordered table-striped table-condensed">
	<thead>
    <th>Name</th>
    <th>Contact Info</th>
    <th>Address</th>
    <th>Action</th>
	</thead>	
	<tbody>
		<tr>
			<td><%= @project.name %></td>
			<td><%= @project.contact_info %></td>
			<td><%= @project.address %></td>
			<td>
            	<%= link_to "Edit", edit_project_path(@project), class: "btn btn-default btn-sm" %>
				<%= link_to "download detail report", detail_report_project_path(@project, { format: :pdf}), class: "btn btn-sm btn-info" %>
				<%= link_to "send incident", new_project_incident_path(@project), class: "btn btn-sm btn-primary" %>
				<%= link_to "view its incidents", project_incidents_path(@project), class: "btn btn-sm btn-success" %>
            	<%= link_to 'Destroy', @project, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-sm btn-danger" %>
				</td>

		</tr>	
	</tbody>	
</table>	

<%= form_for @project, html: { class: 'well', role: 'form'} do |f| %>

	<fieldset>
	  <h2 class="text-center"><strong><u>Detailed View of <%= @project.name %></u></strong> </h2>
	  <br/>
		<%= f.hidden_field :enable_answers_validation, value: true %>
	  	<% @categories.each do |c| %>
			<h3><strong><u><%= c.name %></u></strong></h3>
			<% c.questions.each do |q| %>
				<div class="form-group">		
					<%= f.label q.body, class: "control-label" %>
		      <% answer = @answers.find_by(question_id: q.id) %>
				     	<div class="row">
				     	<% GlobalConstants::Answers::STATUSES.each do |st| %> 
				      	<div class="col-sm-3">
				      		<%= radio_button_tag "status#{answer.id}", st[1], answer_radio_status(answer.status, st[1]), class: "answer_status", data: { id: answer.id } %>
				      		<%= label "status#{answer.id}_#{st[1]}", st[0] %>	
				      	</div> 
				      	
				      <% end %>
				      </div>
				      <br/>
		    	</div>

			<% end %>
		<% end %>
	</fieldset>
<% end %>
